
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mg-t {
    margin-top:8px ;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}
.row::after {
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third {
    width: 33.3333333%;
}
.col-full{
    width: 100%;
}
 
.col-half {
    width: 50%;
}








html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    
}



#header {
    width: auto;
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#navigation {display: inline-block;

}


#navigation li {    
    position: relative;
    display: inline-block;
}


#navigation > li > a {
    display: inline-block;
    text-transform: uppercase;
    line-height: 46.5px;
}
#navigation li a {
color: white;
text-decoration: none;
padding: 0px 24px;
position: relative;
display: inline-block;
}
.subnavigation li {
    display: inline-block;
    width: 100%;
}
.subnavigation li:hover a,
#navigation > li:hover > a {
    width: 100%;
    color: #000;
    background-color: #ccc;
}
#navigation li:hover .subnavigation {  
    display: block;
}

#navigation .subnavigation {
    top: 100%;
    left: 0;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);

    display: none;
}

#navigation .subnavigation a {
    color:#000;
    padding-left: 16px; 
    line-height: 38px;   
    
}
/* dấu mũi tên */
a > i {font-size: 10px;}
/* ...................... */

#header .search-button {
    color: #ccc;
    font-size: 20px;
    float:right;
    line-height: 46.5px;
    padding: 0 21px;


}
#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}


#slider {
    margin-top: 46.5;
    padding-top: 50%;
    background: url(/assets/css/img/maxresdefault.jpg) no-repeat top center /cover; 
    
position: relative;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 32px;
    width: 100%;
   text-align: center;
   text-shadow: 0 0 5px #000;
}
.text-content .text-heading,.text-content .text-decribe {margin: 15px;}




#content{
    height: auto;
    overflow: auto;
}



#content #about {
    padding: 64px 16px;
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    overflow: auto;


}
#about .heading {
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
    font-size: 30px;
}


#about .sub-heading {
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;

}
#about .about-decribe {
    margin-top: 25px;   
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;

}

#about .team {
    padding: 32px 0;
    float: left;
    width: 33.33333%;
    text-align: center;
}

.team .name-band {

    font-size: 15px;
    margin: 15px 0;
    
}

.team .img-band {
    width: 156px;
    border-radius: 5px;
}


#content .tour {
    color: #fff;
    background-color: #000;
}
#about .tour-time {
    list-style: none;
    background-color: #fff;
    color: #757575;
    overflow: hidden;
}

#about > .tour-time li {
border-bottom: 1px solid #ddd;
padding: 10px 18px;
}

.tour-time .sold-out {
margin-left: 8px;
background-color: #f44336;
color: #fff;
padding: 3px 8px;

}
.tour-time .quanity {
    float: right;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
  
}


.tour-location { 
    padding: 32px 8px ;
    overflow: hidden;
    


}

.tour-location .location-item {
    width: 33.33333%;
    box-sizing: border-box;
   
    
}

.location-item .location-img {
    display: block;
    width: 100%;
}
.location-item .location-img:hover {
    opacity: 0.6;
}

.location-item .schedule {
opacity: 0.6  ;

}
.location-item .location-body {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 0.15px 16px;

}

.location-item .location-name, .location-item .schedule, .location-item .location-sub {
    margin: 15px 0 ;
}
.location-item .location-name {
    font-weight: bold;
}


.location-item .js-Buy-tickets {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
    border: 0px !important;
}

.location-item .js-Buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


.modal {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}



.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 60px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
 
}
.modal-container .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 16px;
    font-size: 10px;
    opacity: 0.8;

}

.modal-container .modal-close:hover {
    background-color: #ccc;
    color: #000;
}


.modal-header i {
    margin-right: 16px;
}

.modal-container .modal-header {
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
    letter-spacing: 4px;
}

.modal-body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-container .modal-body {
    padding: 0.15px 16px;
   
    
}

.modal-body .modal-label {
    display: block;
    font-size: 15px;
    padding: 15px 0;
    
    
}

.modal-body .modal-input {
    border: 1px solid #ccc;
    padding: 8px 8px ;
    width: 100%;
    
}

.modal-body #buy-tickets {
    width: 100%;    
    margin: 16px 0;
    padding: 16px;
    border: 0 !important;
    background-color: #009688;
    color: #fff;
    font-size: 16px;
}

.modal-body #buy-tickets:hover {
    color: #000 ;
    background-color: #ccc;
}

p.footer-help {
    padding-bottom: 14px;
    padding-right: 16px;
    text-align: right;
}

.modal-footer .modal-help {
    color: #2196F3;
}

@keyframes modalFadeIn {

from {
    transform: translateY(-100px);
    opacity: 0;
}

to {
    opacity: 1;
    transform: translateY(0px);
}

}

#contact {
    overflow: auto;
}

.contact-input {
    border: 0.889 solid #ccc;
    padding: 8px;

}

.contact-body {
    margin-top: 32px;
    display: inline-block;
}

.row .contact-submit {
    float: right;
    padding:8px 16px ;
    border: 0 !important;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.row .contact-submit:hover {
    background-color: #ccc;
    color: #000;
}
.contact-info {
    font-size: 18px;
}

.contact-info i[class="ti-"] {
    width: 30px;
    display: inline-block;
    line-height: 1.6;

}

.contact-input {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;

}

#image img {
    width: 100%;
}






#footer {
    text-align: center;
    padding: 64px 16px;
    font-size: 20px;
    opacity: 0.7;
    color: #000;

}

#footer .sub-footer {
    margin: 15px 0;
}

#footer i:hover {
    cursor: pointer;
    opacity: 0.5;
}